{
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ]
  },
  "overrides": [
    {
      "files": ["playground/*.*"],
      "rules": {
        "no-console": "off"
      }
    }
  ]
}
